<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cloud_invoice>
            <cron>
                <enabled>1</enabled>
                <schedule>* * * * *</schedule>
            </cron>
            <google_drive>
                <enable_google_drive>0</enable_google_drive>
            </google_drive>
        </cloud_invoice>
    </default>
</config>